.columneditdata {
    display: grid;
    grid-template-columns: 50% auto;
}

.maineditdata {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1em;
}

.col-sm-4 {
    position: unset;
}

.col-sm-8 {
    position: unset;
}
