body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 14%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

label {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    /* background: #3399FF; */
    background: #2F4F4F;
}

li.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead,
td {
    text-align: left;
    padding: 8px;
}

thead {
    background: #2F4F4F;
    color: rgb(255, 255, 255);
}

.menubar {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: 9% auto;
}

.submenubar {
    display: grid;
    grid-template-columns: 15% auto;

}

.header {
    overflow: hidden;
    /* background-color: #4682B4; */
    background-color: #2F4F4F;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11%;
}

.main {
    margin-top: 6%;
}

.topbar {
    text-align: right;
    margin-right: 20px;
    padding-right: 20px;
    color: #ffffff
}

.img_container {
    width: 25px;
    height: 25px;
    margin-top: 9px;
}

.button1 {
    background-color: #66ffcc;
    /* Green */
    border: none;
    color: #3399FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}